@font-face { 
 	font-family: Helvetica Neue; 
 	src: url('../fonts/HelveticaNeue_2.otf'); } 
 @font-face { 
 	font-family: Helvetica Neue; 
 	font-weight: lighter; 
 	src: url('../fonts/HelveticaNeue-Light_2.otf');
 }
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
p, h1, h2, h3, h4, h5 {
  margin-bottom: 0 !important;
}
h1, h2, h3, h4, h5 {
  line-height: 1.0 !important;
}
a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a{
  color: white;
  text-decoration: none;
  background-color: transparent;
}
.contact_us_info a{
  color: black;
  text-decoration: none;
  background-color: transparent;
}
.contact_us_info a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.bars {
  width: 80%;
}
.social-size {
  width: 18px;
}
.top-screen--mobile {
  display: none;
}
.slider_description div {
  display: none;
  position: absolute;
  padding-right: 200px !important;
}
#tag-1{
  display: block;
}
.modal.fade.modal-right .modal-dialog {
  -webkit-transform: translate(125%, 0px);
  -ms-transform: translate(125%, 0px);
  transform: translate(125%, 0px);
}

.modal.show.modal-right .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.map {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.socials a:hover {
  color: white;
  text-decoration: none;
}
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-section {
  height: 1070px;
  overflow: hidden;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.site-navbar {
  padding: 30px 0px;
  width: 1530px;
  margin: 0 auto;
}
#navbarNav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
}
.navigation-menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navigation-menu a {
  color: white !important;
  font-size: 18px;
  padding: 0 15px !important;
  font-family: Helvetica Neue;
  letter-spacing: 2px;
}
.social-one,
.social-two,
.social-three {
  margin: 0 10px !important;
  display: flex;
}
.arrow-right {
  margin-left: 10px;
}
.site-navbar--btn {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 45px;
  background-color: rgb(253, 79, 27);
  color: white;
  font-size: 22px;
  margin-left: 30px;
  text-decoration: none;
}
.talk {
  width: 212px;
  height: 57px;
  color: white;
  background-color: rgb(253, 79, 27);
  -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 89, 141, 0.3);
  box-shadow: 0px 8px 10px 0px rgba(0, 89, 141, 0.3);
  border: none;
  text-decoration: none;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.talk:focus {
  outline: 0;
}
.burger-btn {
  margin-right: 40px;
  padding: 2px 5px;
  border: 2px solid white !important;
}
.burger-btn--line {
  background-image: unset !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}
.burger-btn:focus {
  outline: 0;
}
.top-content {
  width: 1530px;
  margin: 200px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-left {
  width: 50%;
}
.top-right {
  width: 50%;
  position: relative;
  height: 520px;
}
.top-section--title {
  font-size: 68px;
  font-family: Helvetica Neue;
  color: white;
}
.top-left--descr {
	color: white;
	font-size: 25px;
	margin-top: 40px;
	margin-bottom: 40px;
  font-family: Helvetica Neue;
}
.my-carousel {
  position: static;
}
.top-section--carousel {
  overflow: unset;
}
.top-screen {
  position: absolute;
  left: -160px;
  top: -50px;
}
.indicator-1,
.indicator-2,
.indicator-3 {
  width: 38px !important;
  height: 38px !important;
  border-radius: 50%;
  background: transparent !important;
  border: 1px solid white !important;
  opacity: unset !important;
  text-indent: unset !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  margin: 0 20px !important;
}
.carousel-indicators .active {
  background-color: rgb(70, 160, 237) !important;
  border: none !important;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 89, 141, 0.3);
  box-shadow: 0px 8px 10px 0px rgba(0, 89, 141, 0.3);
}
.underline {
  border-bottom: 2px solid white;
}
.changeCarousel {
  cursor: pointer;
}
.growth {
  color: #fff;
  font-weight: 900;
}
.advertise-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advertise-right {
  height: inherit;
  width: 50%;
  background-color: rgb(69, 159, 237);
  padding: 0px 40px 0px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.top-left--talk {
  border: none;
  border-radius: 18px;
  background-color: rgb(253, 79, 27);
  width: 212px;
  height: 57px;
  color: white;
  font-size: 22px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.top-left--talk:focus {
  outline: 0;
}
.see_plans,
.video-left--talk {
  border: none;
  border-radius: 18px;
  background-color: rgb(253, 79, 27);
  width: 212px;
  height: 57px;
  color: white;
  font-size: 22px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.see_plans:focus,
.video-left--talk:focus {
  outline: 0;
}
.advertise-left {
  height: inherit;
  width: 50%;
}
.advertise-left img {
  width: 100%;
  height: 100%;
}
.advertise-right h1 {
  margin-bottom: 10px !important;
	font-size: 67px;
	color: white;
	font-family: Helvetica Neue;
}
.advertise-right p {
  font-size: 18px;
  color: white;
}
.advertise-heading{
  padding-right: 10%;
}
.video-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.video-left {
  height: inherit;
  width: 50%;
  background-color: rgb(69, 159, 237);
  padding: 0px 40px 0px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.video-right {
  height: inherit;
  width: 50%;
  background: #459fed;
}
.video-right video{
    width: 100% !important;
    height: auto !important;
    display: block;
}

.video-right img {
  width: 100%;
  height: 100%;
}
.video-left h1 {
  padding-bottom: 25px;
	font-size: 67px;
	color: white;
	font-family: Helvetica Neue;
}
.video-left p {
  font-size: 18px;
  color: white;
  padding-right: 10%;
}
.solution-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.solution-right {
  height: inherit;
  width: 50%;
  background-color: rgb(69, 159, 237);
  padding: 0px 40px 0px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.solution-right--arrow {
  font-size: 20px;
  font-family: Helvetica !important;
  font-weight: 700;
  margin-bottom: 20px !important;
}
.arrow-up {
  margin-right: 10px;
  width: 20px;
}
.solution-left {
  height: inherit;
  width: 50%;
}
.solution-left img {
  width: 100%;
  height: 100%;
}
.solution-right h1 {
  padding-bottom: 25px;
	font-size: 67px;
	color: white;
  font-family: Helvetica Neue;
}
.solution-right p {
	font-size: 18px;
	color: white;
  padding-right: 10%;
  font-family: Helvetica Neue;
}

.who-are-we-section {
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.who-are-we-left {
  height: inherit;
  width: 50%;
  background-color: rgb(69, 159, 237);
  padding: 0px 40px 0px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.who-are-we-right {
  width: 50%;
  background-size: cover;
  background-image: url(../images/who-are-we.png);
  background-position-x: -160px;
  background-repeat: no-repeat;
}
.who-are-we-right img {
  height: inherit;
}
.who-are-we-left h1 {
	font-size: 67px;
	color: white;
	font-weight: 100;
	padding-bottom: 35px;
	font-family: Helvetica;
}
.who-are-we-left p {
	font-size: 18px;
	color: white;
  padding-right: 10%;
  font-family: Helvetica Neue;
}
.functionalities-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.functionalities-left {
  height: inherit;
  width: 50%;
  background-color: rgb(69, 159, 237);
  padding: 0px 40px 0px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.functionalities-left h1 {
  color: white;
  font-size: 67px;
  font-weight: 100;
}
.functionality-list {
  list-style-type: none;
  font-size: 20px;
  color: white;
  font-weight: 100;
  padding-left: 15px;
}
.functionality-list li {
  display: table;
  padding: 15px;
  opacity: 0.5
}
.functionality-list li:hover {
  -webkit-box-shadow: 0px 12px 38px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 12px 38px 0px rgba(0, 0, 0, 0.29);
  border-radius: 4px;
  opacity: 1;
  cursor: pointer;
}
.functionalities-right {
  width: 50%;
}
.control-panel {
  position: absolute;
  top: 60px;
  right: -260px;
}

/*CHOOSE A PLAN SECTION*/
.plan {
  background-color: rgb(236, 245, 253);
  padding-top: 70px;
}
.plan-wrapper {
  width: 1220px;
  margin: 0 auto;
  height: inherit;
  padding-bottom: 70px;
}
.plan-title {
	font-size: 67px;
  color: #5b5b5b;
  font-weight: 400;
  font-family: Helvetica;
  text-align: center;
}
.range-slider {
  position: relative;
  width: 48%;
}
.rs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.rs-products--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.range-title {
  text-align: center;
  color: #5b5b5b;
  font-size: 25px;
}
.range-min,
.range-max {
  color: #5b5b5b;
  font-size: 18px;
}
.pricing-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.offers-one {
  width: 300px;
}
.standart-package,
.pro-package,
.pro-plus--package {
  width: 300px;
}
.currency {
  border-bottom: 1px solid rgb(224, 233, 240);
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: #5b5b5b;
  margin-top: 180px;
}
.currency input {
  margin-right: 10px;
}
.offer-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgb(224, 233, 240);
  height: 50px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.offer-cell {
  font-size: 18px;
  color: #5b5b5b;
  margin-right: 10px;
}
.info-icon {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(169, 174, 179);
  color: rgb(169, 174, 179);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25px;
  font-weight: 700;
  position: relative;
}
.tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 23%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.info-icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.standart-box,
.empty-box,
.pro-box,
.pro-plus--box {
  height: 180px;
}
.standart-label {
  width: 275px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  font-size: 44px;
  color: #459fed;
  font-weight: 500;
  margin: 0 1% 30px 1%;
}
.pro-label {
  width: 275px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  font-size: 44px;
  color: #459fed;
  font-weight: 500;
  margin: 0 1% 30px 1%;
}
.pro-plus--label {
  width: 275px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  font-size: 44px;
  color: #fd4f1b;
  font-weight: 500;
  margin: 0 2% 30px 1%;
}
.standart-go,
.pro-go,
.pro-plus--go{
  width: 275px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgb(253, 79, 27);
  font-size: 22px;
  color: white;
  margin: 50px auto 0px auto;
  border: none;
  border-radius: 18px;
}
.standart-descr,
.pro-descr,
.pro-plus--descr {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
    color: #5b5b5b;
    font-family: Helvetica Neue;
    font-weight: 600;
}
.table-cell {
  text-align: center;
  border-bottom: 1px solid rgb(224, 233, 240);
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  color: #5b5b5b;
  font-family: helvetica neue;
}
.currency-mark.bold, .standart-mark--value, .pro-mark--value, .proplus-mark--value{
  font-weight: 600;
}
.range-title{
  font-family: helvetica neue;  
}
.labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 80px;
}
.active-package {
  background-color: rgb(69, 159, 237) !important;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 10px;
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgb(69, 159, 237);
}
.rs-users--inner,
.rs-products--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
}
#ex1Slider,
#ex2Slider {
  width: 90% !important;
}
.slider-selection {
  background: rgb(69, 159, 237) !important;
}
.slider-success .slider-selection {
  background-color: #5cb85c !important;
}
.slider-primary .slider-selection {
  background-color: #428bca !important;
}
.slider-info .slider-selection {
  background-color: #5bc0de !important;
}
.slider-warning .slider-selection {
  background-color: #f0ad4e !important;
}
.slider-danger .slider-selection {
  background-color: #d9534f !important;
}
.slider.slider-horizontal {
  width: 100% !important;
  height: 20px;
}
.slider-handle {
  background-color: #459FED !important;
  background-image: none !important;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(34, 77, 114, 0.5);
  box-shadow: 0px 3px 10px 0px rgba(34, 77, 114, 0.5);
  top: -10px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}

.slider-strips .slider-selection {
  background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
  background-image: -o-repeating-linear-gradient(135deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
  background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
  background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important; 
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #bdbdbd !important;
  text-align: center;
  background-color: transparent !important;
  border-radius: 4px;
}
.tooltip.top .tooltip-arrow {
  display: none !important;
}
.slider .tooltip.top {
  margin-top: -25px !important;
}
.well {
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 100% !important;
  padding: 0;
}
.slider-ghost .slider-track {
  height: 5px !important;
}
.slider-ghost .slider-handle {
  top: -2px !important;
  border: 5px solid #f77500;
}
.slider-success.slider-ghost .slider-handle {
  border-color: #5cb85c;
}
.slider-primary.slider-ghost .slider-handle {
  border-color: #428bca;
}
.slider-info.slider-ghost .slider-handle {
  border-color: #5bc0de;
}
.slider-warning.slider-ghost .slider-handle {
  border-color: #f0ad4e;
}
.slider-danger.slider-ghost .slider-handle {
  border-color: #d9534f;
}
.thumb-value {
  width: 1px;
  height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.per-month--standart,
.per-month--pro,
.per-month--proplus {
  margin: 0 5px;
}
/*END OF CHOOSE A PLAN SECTION*/


/*---------CONTACT US--------*/

.contact_us{
  height: 545px;  
}
.contact_us_left{
  background-color: #fafafa;
}
.contact_us_right{
  color: white;
  background-color: #0f2232;
  font-family: Helvetica neue;
  font-size: 22px;
}
._left_padding{
  padding:70px 150px;
}
._right_padding{
  padding:90px 100px;
}
.arrow{
  font-size: 45px;
  color: #459fed;
  cursor: pointer;
}
.lets_talk {
  cursor: pointer;
  margin-bottom: 75px;
}
.lets_talk:hover i, .lets_talk:active i{
  color: #fd4f1b;
  padding-left: 15px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.lets_talk:not(:hover) i, .lets_talk:not(:hover) i{
  color: white;
  padding-left: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.socials{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 115px;
  letter-spacing: 60px;
  font-size: 25px;
}
.heading_padding{
  padding-bottom: 50px;
}
.text_padding{
  margin-bottom: 30px !important;
}
._left_padding h1{
  font-size: 67px;
  color: #5b5b5b;
  font-weight: 400;
  font-family: Helvetica;
}
.col-9 h1{
  font-size: 50px;
  color: #ffffff;
  font-family: Helvetica Neue;
}
.contact_us_info p{
	font-family: Helvetica Neue;
}
/*---------Team--------*/
.team{
  padding: 65px 155px;
}
.team_heading h1{
  font-size: 67px;
  color: #5b5b5b;
  margin-bottom: 30px !important;
  font-weight: 400;
  font-family: Helvetica;
}
.member h2{
  font-size: 30px;
  color: #000000;
  cursor: pointer;    
  font-family: Helvetica Neue;
}

.member h3{
  font-size: 23px;
  color: #5eacef;
  font-family: Helvetica Neue;
  padding-top: 5px;
  padding-bottom: 45px;
}


/*---------Benefits--------*/
.benefits{
  padding-top: 85px;
}
.benefits_items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.benefits_item{
  width: 430px;
  height: 255px;
  border: 1px solid #e5e5e5;
  padding-top: 35px;
  padding-left: 25px !important;
  padding-right: 25px !important;
  margin: 22px;
}
.benefits_item_info h3{
	margin-left: 10px;
	font-size: 25px;
	font-weight: 400;
	color: #5b5b5b;
}
.benefits_item_info p{
	margin-left: 10px;
	margin-top: 15px;
	color: #5b5b5b;
	font-weight: 400;
	font-family: Helvetica Neue;
}
.benefits_heading h1{
    font-size: 67px;
    color: #5b5b5b;
    font-weight: 400;
    font-family: Helvetica;
    text-align: center;
    margin-bottom: 20px !important;
}

/*---------Slider--------*/
#tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 850px;  
}

ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  vertical-align: top;
  width: 50%;
}

ul li a {
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

ul li:focus, a:focus {
  outline: none;
}

ul li:nth-child(1) a {
  border-top: none;
}

ul li a.active-tag {
  opacity: 1;
}

.tag {
  position: relative;
  width: 100%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  color: #ffffff;
  height: 50px;
  width: 370px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  cursor: pointer;
  font-weight: lighter;
  font-size: 20px;
}
.title-active {
  color: white;
  -webkit-box-shadow: 0px 12px 38px 0px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 12px 38px 0px rgba(0, 0, 0, 0.29);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  font-weight: normal;
  background-color: #577bf2;
}

.tabs-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 60px !important;
}

#tabs-1{
  background-image: url("../images/1.png");
}
#tabs-2{
  background-image: url("../images/2.png");
}
#tabs-3{
  background-image: url("../images/3.png");
}
#tabs-4{
  background-image: url("../images/4.png");
}
#tabs-5{
  background-image: url("../images/5.png");
}
#tabs-6{
  background-image: url("../images/6.png");
}
#tabs-7{
  background-image: url("../images/7.png");
}
#tabs-8{
  background-image: url("../images/8.png");
}
#tabs-9{
  background-image: url("../images/9.png");
}
#tabs-10{
  background-image: url("../images/10.png");
}
#tabs-11{
  background-image: url("../images/11.png");
}
#tabs-12{
  background-image: url("../images/12.png");
}
#tabs-13{
  background-image: url("../images/13.png");
}
.slider_tabs{
  background-color: #459fed;
  padding-top: 85px;
  padding-left: 155px !important;
}
.slider_images{
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #ffffff), color-stop(50%, #459fed));
  background: -webkit-linear-gradient(right, #ffffff 50%, #459fed 50%);
  background: -o-linear-gradient(right, #ffffff 50%, #459fed 50%);
  background: linear-gradient(to left, #ffffff 50%, #459fed 50%);
}
.slider_description{
  padding-top: 290px;
  padding-left: 330px;
  padding-right: 200px !important;
  overflow: hidden !important;
}
.slider_description h1{
  font-size: 42px;
  padding-bottom: 25px;
  font-family: Helvetica;
  color: #5b5b5b;
}
.slider_heading{
  color: white;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 50px;
}
.mail-img{ 
  width: 3%;
}
/*--------POPUP----------*/
input, textarea {
  outline: none;
  border: none;
}
textarea:focus, input:focus {
  border-color: transparent !important;
}
.success_message{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 60px;
  font-size: 18pt;
  text-align: center;
  color: #239c23;
  display: none;
}
.error_message{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 60px;
  font-size: 18pt;
  text-align: center;
  color: #f52424;
  display: none;
}
.close{
  opacity: 1 !important;
}
.container-popup {
  width: 100%;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  position: relative;
  z-index: 1;
  border-radius: 18px;
}
.popup-wrapper {
  width: 555px;
  overflow: hidden;
  position: relative;
}
.container-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:40px;
}
.container-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54,84,99,0.7);
}
.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.container-form-title-1 {
  font-size: 45px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 7px;
}

#close_popup{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border-radius: 3px;
}
.fa-times{
  color: white;
}
.contact-form1 {
  width: 510px;
  padding: 30px 45px 30px 120px;
  margin: 0 auto;
}
.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 26px;
}

.label-for-input {
  font-size: 18px;
  color: #808080;
  line-height: 1.2;
  text-align: right;
  position: absolute;
  top: 14px;
  left: -105px;
  width: 80px;
}
.red-star{
  color: red;
  padding-left: 2px;
}
/*---------------------------------------------*/
.input-content {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  background: transparent;
  padding: 0 5px;
}

.focus-input-content {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input-content::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background: #57b846;
}

/*---------------------------------------------*/
input.input-content {
  height: 45px;
}
textarea.input-content {
  min-height: 115px;
  padding-top: 14px;
  padding-bottom: 13px;
}
.input-content:focus + .focus-input-content::before {
  width: 100%;
}
.has-val.input-content + .focus-input-content::before {
  width: 100%;
}

/*------------------------------------------------------------------*/

.form-btn {
  padding: 0 20px;
  /*min-width: 160px;*/
  width: 100%;
  height: 50px;
  background-color: rgb(253, 79, 27);
  border-radius: 18px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  outline: none !important;
  border: none;
}
.form-btn:hover {
  background-color: #333333;
}
@media (max-width: 670px) {
  .contact-form1 {
    width:100%;
  }
}


@media only screen and (max-width: 1582px) {
  .site-navbar {
    width: unset;
  }
  .site-logo {
    margin-left: 40px;
  }
  .talk {
    margin-right: 40px;
  }
  .top-content {
    width: 100%;
  }
  .top-left {
    width: 40%;
    padding-left: 40px;
  }
  .top-left--descr {
    padding-right: 112px;
  }
  ._left_padding {
    padding: 69px 50px;
  }
  .benefits_item {
    width: 400px;
    height: auto;
    border: 1px solid #e5e5e5;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin: 15px;
  }
  .slider_tabs {
    padding-left: 70px !important;
  }
  .slider_description div {
    padding-right: 100px !important;
  }
}
@media only screen and (max-width: 1406px) {
  .video-left{
        padding: 0px 40px 0px 80px;
  }
  .video-left h1 {
    font-size: 41px;
  }
}
@media only screen and (max-width: 1350px) {
  .member h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1300px) {
  .plan-wrapper {
    width: 95%;
  }
  .offers-one,
  .standart-package,
  .pro-package,
  .pro-plus--package {
    width: 25%;
  }
  .standart-label,
  .pro-label,
  .pro-plus--label {
    width: 22%;
  }
  .standart-go,
  .pro-go,
  .pro-plus--go {
    width: 90%;
  }
  .gbp, .usd, .eur {
    display: none;
  }
  .advertise-right,
  .video-left,
  .solution-right,
  .who-are-we-left {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .who-are-we-section {
    height: unset;
  }
  .who-are-we-right img {
    height: 100%;
  }
  .site-navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .talk {
    margin-right: unset;
  }
  .top-content {
    margin-top: 0px;
    margin-bottom: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .top-left {
    padding: 0px 40px 40px 40px;
    width: 100%;
  }
  .top-section--title {
    text-align: center;
  }
  .top-left--descr {
    text-align: center;
    padding-right: unset;
  }
  .top-right {
    width: 100%;
    height: 570px;
  }
  .top-screen {
    left: 3rem;
    top: 0;
  }
  .top-left--talk {
    margin-left: auto;
    margin-right: auto;
  }
  .top-section{
    height: auto;
  }
}
@media only screen and (max-width: 1199px) {
  .video-left h1 {
    font-size: 29px;
  }
  .top-screen {
    left: 1rem;
  }
  .contact_us_info{
    margin-bottom: 5%;
    margin-top: 2%;
  }
  .map {
    margin-bottom: 4%;
  }
  .slider_description div {
    display: none;
    position: relative; 
    padding-right: 0 !important; 
  }
  .slider_images{
    height: 800px;
  }
  .tabs-background  {
    background-position-y: 0px !important;
  }
  .member h3 {
    padding-bottom: 0px;
  }
  .lets_talk {
    padding-bottom: 15px;
  }
  .socials{
    padding-top: 20px;
  }
  .heading_padding{
    padding-bottom: 10px;
  }
  .text_padding{
    padding-bottom: 5px;
  }
  .member, .team_heading{
    padding-bottom: 20px;
  }
  .slider_tabs {
    padding-left: 50px !important;
  }
  .slider_description {
    padding:50px !important;
  }
  .slider_images {
    background: #459fed;
  }
  ._left_padding {
    padding: 30px 50px;
  }
  .team {
    padding: 20px 50px;
  }
   #tabs {
    height: auto;
  }
  .who-are-we-right {
    background-position-x: -240px;
  }   
}
@media only screen and (max-width: 1100px) {
  .top-screen {
    left: -2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .top-screen {
    left: -5rem;
  }
  .standart-box, 
  .empty-box, 
  .pro-box, 
  .pro-plus--box {
    height: 240px;
  }
  .currency {
    margin-top: 240px;
  }
  .who-are-we-right {
    background-position-x: -351px;
  }
}
@media only screen and (max-width: 992px) {
  .who-are-we-right {
    background-size: cover;
    background-image: url(../images/who-are-we.png);
    background-repeat: no-repeat;
    height: 713px !important;
    background-position: center;
  }
  .site-navbar--btn {
    width: 270px;
  }
  .talk {
    margin: 0 auto;
  }
  .functionalities-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .functionalities-left {
    width: 100%;
  }
  .functionalities-right {
    width: 100%;
  }
  .control-panel {
    width: 50%;
    top: unset;
    right: 0
  }
  .advertise-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: unset;
  }
  .advertise-right {
    width: 100%;
    height: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .advertise-left {
    width: 100%;
    height: 50%;
  }
  .advertise-left img {
    height: 100%;
  }
  .who-are-we-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .who-are-we-left {
    width: 100%;
    height: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .who-are-we-right {
    width: 100%;
    height: 50%;
  }
  .who-are-we-right img {
    height: 100%;
    width: 100%;
  }
  .solution-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: unset;
  }
  .solution-right {
    width: 100%;
    height: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .solution-left {
    width: 100%;
    height: 50%;
  }
  .solution-left img {
    height: 100%;
  }
  .video-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: unset;
  }
  .video-left {
    width: 100%;
    height: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .video-right {
    width: 100%;
    height: 50%;
  }
  .video-right img {
    height: 100%;
  }
  .package-price {
    line-height: 23px;
  }
  .top-screen {
    display: none;
  }
  .top-screen--mobile {
    width: 100%;
  }
  .carousel-indicators {
    bottom: -60px;
  }
  .top-right {
    height: auto;
  }
  .top-screen--mobile {
    display: block;
  }
}
@media only screen and (max-width: 991.5px) {
  .navigation-menu a {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .social-icons {
    margin-bottom: 20px;
  }
  .site-navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .social-size {
    width: 25px;
  }
}
@media only screen and (max-width: 859px) {
  .benefits_item {
    width: 650px;
    border: 1px solid #e5e5e5;
    padding-top: 35px !important;
    padding-bottom: 35px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .top-section--title {
    font-size: 56px;
  }
  .top-left--talk{
    margin-top: 30px;
  }
  .top-content {
    margin-bottom: 100px;
  }
  .who-are-we-right {
    height: 558px !important;
  }
  .benefits_item {
    padding-top: 15px;
  }
  .benefits_images{
    text-align: center;
    padding-bottom: 5px;
  }
  .offers-one {
    width: 50%;
  }
  .standart-package {
    width: 50%;
  }
  .pro-package {
    display: none;
    width: 50%;
  }
  .pro-plus--package {
    display: none;
    width: 50%;
  }
  .standart-label, 
  .pro-label, 
  .pro-plus--label {
    width: 50%;
    background-color: rgb(152, 202, 245);
    font-size: 25px;
    color: white;
    font-weight: 400px;
  }
  .standart-box, 
  .pro-box, 
  .pro-plus--box {
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .standart-details,
  .pro-details,
  .pro-plus--details {
    margin-top: 140px;
  }
  .currency {
    margin-top: 140px;
  }
  .rs-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .range-slider {
    width: 100%;
  }
  .rs-users--inner,
  .rs-products--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .rs-products {
    margin-top: 60px;
  }
  #accordion{
    width: 95%;
  }
  .video-left h1 {
    line-height: 1.2 !important;
    font-size: 40px;
  }
  ._left_padding h1 {
    font-size: 40px;
    padding-bottom: 5%;
  }
  .benefits_heading h1 {
    font-size: 40px;
  }
  .who-are-we-left h1 {
    font-size: 40px;
  }
  .solution-right h1 {
    font-size: 40px;
  }
  .advertise-right h1 {
    font-size: 40px;
  }
  ._right_padding {
    padding: 90px 30px;
  }
  ._left_padding {
    padding: 30px 30px;
  }
  .team {
    padding: 20px 30px;
  }
  .advertise-right, .video-left, .solution-right, .who-are-we-left {
    padding-left: 30px;
  }
  .slider_description {
    padding: 30px !important;
  }
  .top-left {
    padding: 0px 15px 15px 10px;
    }
}
@media (max-width: 576px) {
  .contact-form1 {
    padding: 20px 15px 20px 20px;
  }
  .container-form-title{
    padding: 20px;
  }
  .wrap-input{
    margin-bottom: 18px;
  }
  textarea.input-content {
    height: 70px;
    min-height: unset;
  }
  .label-for-input {
    text-align: left;
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    padding: 0 5px;
  }
}

@media only screen and (max-width: 552px) {
  .top-section--title {
    font-size: 45px;
  }
  .plan-title {
    font-size: 50px;
  }
  .who-are-we-right {
    height: 394px !important;
  }
  .title {
    width: 100%;
  }
  .slider_heading {
    font-size: 35px;
    width: 100%;
  }
  #tabs {
    height: auto;
  }
}

@media only screen and (max-width: 450px) {
  .tabs-background {
    background-size: 100% !important;
  }
  .slider_images {
    height: 700px !important;
  }
  .slider_tabs {
    padding-left: 10px !important;
  }
  .burger-btn {
    margin-right: 20px;
  }
  .site-logo {
    width: inherit;
    margin-left: 20px;
  }
  .site-logo--link {
    width: 75%;
    margin-right: 0;
  }
  /*.social-icons,*/
  .site-navbar--btn {
    margin-left: auto;
    margin-right: auto;
  }
  .top-section p {
    padding: 0px 20px;
  }
  .advertise-right {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .labels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .standart-label, 
  .pro-label, 
  .pro-plus--label {
    width: 90%;
  }
  .standart-box, .pro-box, .pro-plus--box {
    height: 200px;
  }
  .currency {
    margin-top: 200px;
  }
  .standart-details, 
  .pro-details, 
  .pro-plus--details {
    margin-top: 200px;
  }
  .table-cell,
  .offer-style {
    height: 80px;
  }
  .standart-descr, 
  .pro-descr, 
  .pro-plus--descr {
    font-weight: bold;
  }
  .info-icon {
    position: absolute;
    right: -20px;
  }
  .offer-style {
    position: relative;
  }
  .pricing-table {
    padding-bottom: 170px;
  }
  .standart-go, 
  .pro-go, 
  .pro-plus--go {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
  }
  .plan-wrapper {
    padding-bottom: unset;
  }
  .tooltiptext {
    left: -260%;
  }
  .tooltiptext::after {
    left: 48%;
  }
}
@media only screen and (max-width: 400px){
  .slider_images {
    height: 550px !important;
  }
  .package-price {
    display: block;
    line-height: unset;
  }
}

/*-------------*/